<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta name="description" content="此代码内容为超萌的猫头鹰登录界面"/>
    <title>登录</title>
    <link rel="stylesheet" href="../static/css/jq22.css">
</head>
<body>

<div id="login">
    <div class="wrapper">
        <div class="login">
            <div class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk=">
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label fa fa-envelope"></label>
                            <input id="userName" name="userName" placeholder="账号" tabindex="1" autofocus="autofocus"
                                   class="form-control input-medium">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="密码" tabindex="2"
                                   class="form-control input-medium">
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="#" tabindex="5" class="btn pull-left btn-link text-muted">Forgot
                    password?</a><a href="#" tabindex="6" class="btn btn-link text-muted">Sign Up</a>
                    <button tabindex="4" class="btn btn-primary" id="loginbut" onclick="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-2.1.4.min.js"></script>
    <script src="../static/js/layer/layer.js"></script>
    <script>
        $(function () {
            $('#login #password').focus(function () {
                $('#owl-login').addClass('password');
            }).blur(function () {
                $('#owl-login').removeClass('password');
            });
        });

        function login() {
            var data = {
                "ccode": $("#userName").val(),
                "password": $("#password").val()
            };
            $.ajax({
                url: '/login',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data), // 以json字符串方式传递
                success: function (data) {
                    console.log(data);
                    if (data == "1") {
                        window.location.href = "/view/success.html";
                    } else if (data == "2") {
                        layer.alert("账号不存在");
                    } else if (data == "3") {
                        layer.alert("密码错误");
                    }
                }
            })
        }
    </script>
</div>
</body>
</html>